.navbar-nav .nav-link {
    background-color: rgb(34, 8, 180);
    font-size: 20px;
    font-weight: 1000;
    padding: 8px 15px;
    color: #3809df;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link:hover {
    color: #3809df;
}

.navbar-brand img {
    max-height: 70px;
}